.Toolbar {
	height: 70px;
	line-height: 45px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	box-sizing: border-box;
	padding: 0 40px;

}
.Toolbar nav {
	height: 100%;
}

@media (max-width: 499px) {
	.Desktop {
		display: none;
	}
}
